flow.json
[
    {
        "id": "29928cb0.ddef64",
        "type": "tab",
        "label": "Example",
        "disabled": true,
        "info": ""
    },
    {
        "id": "6dbde5f0.a7aefc",
        "type": "tab",
        "label": "Kiezgeschichten",
        "disabled": true,
        "info": ""
    },
    {
        "id": "4a06756c.fb29bc",
        "type": "tab",
        "label": "Futurium",
        "disabled": true,
        "info": ""
    },
    {
        "id": "5fecfc4e.735094",
        "type": "tab",
        "label": "Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "79d9afa4.2a85",
        "type": "subflow",
        "name": "speech-to-text",
        "info": "",
        "category": "tools",
        "in": [
            {
                "x": 60,
                "y": 220,
                "wires": [
                    {
                        "id": "ec9075e3.0481e8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1300,
                "y": 160,
                "wires": [
                    {
                        "id": "f8c7b0b1.b8edd",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1300,
                "y": 220,
                "wires": [
                    {
                        "id": "a068987f.813c98",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "language",
                "type": "str",
                "value": "de",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "wait",
                "type": "num",
                "value": "10",
                "ui": {
                    "label": {
                        "en-US": "initial wait"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            },
            {
                "name": "timeout",
                "type": "num",
                "value": "2",
                "ui": {
                    "type": "spinner"
                }
            },
            {
                "name": "duration",
                "type": "num",
                "value": "0",
                "ui": {
                    "type": "spinner"
                }
            },
            {
                "name": "play_beep",
                "type": "bool",
                "value": "true",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "bool"
                        ]
                    }
                }
            }
        ],
        "color": "#FFAAAA",
        "outputLabels": [
            "best match",
            "alternatives"
        ],
        "icon": "font-awesome/fa-microphone",
        "status": {
            "x": 1300,
            "y": 380,
            "wires": [
                {
                    "id": "72f194da.35b22c",
                    "port": 0
                },
                {
                    "id": "c28f3676.360ea8",
                    "port": 0
                },
                {
                    "id": "b1725466.c00e58",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "f161ee02.77c0d",
        "type": "subflow",
        "name": "stereo-to-mono",
        "info": "",
        "category": "tools",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "c3c396b.e004868"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 80,
                "wires": [
                    {
                        "id": "c3c396b.e004868",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "98284da6.430f8",
        "type": "group",
        "z": "29928cb0.ddef64",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "68fdf52d.1c99dc",
            "81aed966.ebadd8",
            "6e155f41.5635b",
            "fecc3e62.d266f",
            "bc7ab630.9dac68",
            "b90b610c.554ac",
            "c196ff51.b0952"
        ],
        "x": 314,
        "y": 99,
        "w": 1132,
        "h": 222
    },
    {
        "id": "a8081aca.df57b8",
        "type": "group",
        "z": "29928cb0.ddef64",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d15ad5bf.e12d78",
            "e89ec1ba.979e5",
            "bec2c8b0.15be08",
            "9a382a9b.e2dd78",
            "3cfe07d8.4c92d8",
            "4341ba2b.f38f84"
        ],
        "x": 314,
        "y": 379,
        "w": 872,
        "h": 162
    },
    {
        "id": "fec5c43f.4caea8",
        "type": "group",
        "z": "29928cb0.ddef64",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "98bc2bf7.6ca018",
            "cb462194.001c2",
            "493d362f.229aa8",
            "73827c9a.ce4794",
            "fa2af600.fbf0f8",
            "9875010.9d1e3",
            "dba86aa0.7fd678",
            "916ee524.eed348"
        ],
        "x": 314,
        "y": 599,
        "w": 712,
        "h": 222
    },
    {
        "id": "7f6892dc.4d798c",
        "type": "group",
        "z": "29928cb0.ddef64",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5eae2d88.de40d4",
            "aa0a7f07.b72af",
            "990da5ae.a2f568",
            "c73765d4.c77538",
            "bed8a17f.0a7b7"
        ],
        "x": 1074,
        "y": 599,
        "w": 712,
        "h": 222
    },
    {
        "id": "bc4a0f7b.4ef6f",
        "type": "group",
        "z": "29928cb0.ddef64",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d590080b.6ae9c8",
            "fad51bc4.ebd5f8",
            "ccbe8e67.a7c8",
            "e150954.bc7ee68",
            "f5e6377c.9b9fc8",
            "ef4c666c.3eb1a8",
            "3240d69a.8af01a"
        ],
        "x": 314,
        "y": 879,
        "w": 972,
        "h": 262
    },
    {
        "id": "c531aa1.9af8558",
        "type": "soundfile-directory",
        "directory": "sounds"
    },
    {
        "id": "f0c6baff.ba8948",
        "type": "soundfile-directory",
        "directory": "/Users/lutz/Desktop/kiezgeschichten-dialog/rebecca"
    },
    {
        "id": "113bba6b.b1a796",
        "type": "soundfile-directory",
        "directory": "/Users/lutz/Desktop/futurium-dialog/rebecca"
    },
    {
        "id": "cfbb12ea.54ab9",
        "type": "socketio-config",
        "uri": "http://localhost:3000",
        "options": "{ \"forceNew\": true }"
    },
    {
        "id": "c0df7363.1c449",
        "type": "exec",
        "z": "79d9afa4.2a85",
        "command": "stt_record",
        "addpay": true,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "record",
        "x": 670,
        "y": 220,
        "wires": [
            [
                "a068987f.813c98"
            ],
            [
                "b1725466.c00e58"
            ],
            [
                "230ebf7e.956d1",
                "f7d85c88.15f84"
            ]
        ]
    },
    {
        "id": "a068987f.813c98",
        "type": "function",
        "z": "79d9afa4.2a85",
        "name": "",
        "func": "msg.payload = JSON.parse(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 840,
        "y": 220,
        "wires": [
            [
                "f8c7b0b1.b8edd",
                "c28f3676.360ea8"
            ]
        ]
    },
    {
        "id": "f8c7b0b1.b8edd",
        "type": "change",
        "z": "79d9afa4.2a85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0][0].transcript",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "1d5cf971.7c7997",
        "type": "inject",
        "z": "29928cb0.ddef64",
        "name": "start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "bc7ab630.9dac68"
            ]
        ]
    },
    {
        "id": "68fdf52d.1c99dc",
        "type": "say",
        "z": "29928cb0.ddef64",
        "g": "98284da6.430f8",
        "name": "",
        "text": "Hallo, willkommen im Museum.",
        "voice": ":",
        "voiceString": "Anna",
        "speed": "",
        "x": 710,
        "y": 200,
        "wires": [
            [
                "81aed966.ebadd8"
            ]
        ]
    },
    {
        "id": "81aed966.ebadd8",
        "type": "delay",
        "z": "29928cb0.ddef64",
        "g": "98284da6.430f8",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1020,
        "y": 240,
        "wires": [
            [
                "6e155f41.5635b"
            ]
        ]
    },
    {
        "id": "6e155f41.5635b",
        "type": "say",
        "z": "29928cb0.ddef64",
        "g": "98284da6.430f8",
        "name": "",
        "text": "Vermisst du das Museum ueberhaupt?",
        "voice": ":",
        "voiceString": "Anna",
        "speed": "",
        "x": 1270,
        "y": 240,
        "wires": [
            [
                "d15ad5bf.e12d78"
            ]
        ]
    },
    {
        "id": "d15ad5bf.e12d78",
        "type": "subflow:79d9afa4.2a85",
        "z": "29928cb0.ddef64",
        "g": "a8081aca.df57b8",
        "name": "",
        "env": [],
        "x": 420,
        "y": 500,
        "wires": [
            [
                "e89ec1ba.979e5"
            ],
            []
        ]
    },
    {
        "id": "b91276d7.64be98",
        "type": "function",
        "z": "79d9afa4.2a85",
        "name": "set language, timeout, duration",
        "func": "let arg1 = env.get(\"language\");\nlet arg2 = env.get('duration') > 0 ? \n    `--duration ${env.get('duration')}` :\n    `--timeout ${env.get('timeout')}`\nlet arg3 = `--wait ${env.get('wait')}`\nmsg.payload = `\"--lang ${arg1} ${arg2} ${arg3}`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 450,
        "y": 220,
        "wires": [
            [
                "c0df7363.1c449"
            ]
        ]
    },
    {
        "id": "98bc2bf7.6ca018",
        "type": "switch",
        "z": "29928cb0.ddef64",
        "g": "fec5c43f.4caea8",
        "name": "",
        "property": "payload.key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "yes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "no",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 390,
        "y": 740,
        "wires": [
            [
                "cb462194.001c2"
            ],
            [
                "493d362f.229aa8"
            ],
            [
                "73827c9a.ce4794"
            ]
        ]
    },
    {
        "id": "cb462194.001c2",
        "type": "say",
        "z": "29928cb0.ddef64",
        "g": "fec5c43f.4caea8",
        "name": "",
        "text": "Das freut mich. Ich bin auch gerne hier.",
        "voice": ":",
        "voiceString": "Anna",
        "speed": "",
        "x": 680,
        "y": 700,
        "wires": [
            [
                "9875010.9d1e3"
            ]
        ]
    },
    {
        "id": "493d362f.229aa8",
        "type": "say",
        "z": "29928cb0.ddef64",
        "g": "fec5c43f.4caea8",
        "name": "",
        "text": "Du findest es also langweilig hier?",
        "voice": ":",
        "voiceString": "Anna",
        "speed": "",
        "x": 660,
        "y": 740,
        "wires": [
            [
                "fa2af600.fbf0f8"
            ]
        ]
    },
    {
        "id": "73827c9a.ce4794",
        "type": "say",
        "z": "29928cb0.ddef64",
        "g": "fec5c43f.4caea8",
        "name": "",
        "text": "Ich habe dich leider nicht verstanden",
        "voice": ":",
        "voiceString": "Anna",
        "speed": "",
        "x": 670,
        "y": 780,
        "wires": [
            [
                "dba86aa0.7fd678"
            ]
        ]
    },
    {
        "id": "e89ec1ba.979e5",
        "type": "switch",
        "z": "29928cb0.ddef64",
        "g": "a8081aca.df57b8",
        "name": "isEmpty",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 500,
        "wires": [
            [
                "bec2c8b0.15be08"
            ],
            [
                "3cfe07d8.4c92d8"
            ]
        ]
    },
    {
        "id": "bec2c8b0.15be08",
        "type": "say",
        "z": "29928cb0.ddef64",
        "g": "a8081aca.df57b8",
        "name": "",
        "text": "Du hast ja gar nichts gesagt.",
        "voice": ":",
        "voiceString": "Anna",
        "speed": "",
        "x": 880,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "fa2af600.fbf0f8",
        "type": "delay",
        "z": "29928cb0.ddef64",
        "g": "fec5c43f.4caea8",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 930,
        "y": 740,
        "wires": [
            [
                "5eae2d88.de40d4"
            ]
        ]
    },
    {
        "id": "5eae2d88.de40d4",
        "type": "say",
        "z": "29928cb0.ddef64",
        "g": "7f6892dc.4d798c",
        "name": "",
        "text": "was müsste es denn hier geben damit du ins museum gehen willst?",
        "voice": ":",
        "voiceString": "Anna",
        "speed": "",
        "x": 1340,
        "y": 740,
        "wires": [
            [
                "bed8a17f.0a7b7"
            ]
        ]
    },
    {
        "id": "d590080b.6ae9c8",
        "type": "subflow:79d9afa4.2a85",
        "z": "29928cb0.ddef64",
        "g": "bc4a0f7b.4ef6f",
        "name": "",
        "env": [
            {
                "name": "timeout",
                "value": "3",
                "type": "num"
            }
        ],
        "x": 420,
        "y": 1000,
        "wires": [
            [
                "fad51bc4.ebd5f8",
                "e150954.bc7ee68"
            ],
            []
        ]
    },
    {
        "id": "9875010.9d1e3",
        "type": "delay",
        "z": "29928cb0.ddef64",
        "g": "fec5c43f.4caea8",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 930,
        "y": 700,
        "wires": [
            [
                "aa0a7f07.b72af"
            ]
        ]
    },
    {
        "id": "aa0a7f07.b72af",
        "type": "say",
        "z": "29928cb0.ddef64",
        "g": "7f6892dc.4d798c",
        "name": "",
        "text": "Vermisst du denn trotzdem irgendwas am Museum?",
        "voice": ":",
        "voiceString": "Anna",
        "speed": "",
        "x": 1380,
        "y": 700,
        "wires": [
            [
                "bed8a17f.0a7b7"
            ]
        ]
    },
    {
        "id": "dba86aa0.7fd678",
        "type": "delay",
        "z": "29928cb0.ddef64",
        "g": "fec5c43f.4caea8",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 930,
        "y": 780,
        "wires": [
            [
                "990da5ae.a2f568"
            ]
        ]
    },
    {
        "id": "990da5ae.a2f568",
        "type": "say",
        "z": "29928cb0.ddef64",
        "g": "7f6892dc.4d798c",
        "name": "",
        "text": "Was hältst du denn von Museum?",
        "voice": ":",
        "voiceString": "Anna",
        "speed": "",
        "x": 1440,
        "y": 780,
        "wires": [
            [
                "bed8a17f.0a7b7"
            ]
        ]
    },
    {
        "id": "fad51bc4.ebd5f8",
        "type": "debug",
        "z": "29928cb0.ddef64",
        "g": "bc4a0f7b.4ef6f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 1100,
        "wires": []
    },
    {
        "id": "ccbe8e67.a7c8",
        "type": "say",
        "z": "29928cb0.ddef64",
        "g": "bc4a0f7b.4ef6f",
        "name": "",
        "text": "Danke fuer deine Antwort. Ich hoffe wir sprechen uns bald wieder.",
        "voice": ":",
        "voiceString": "Anna",
        "speed": "",
        "x": 1020,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "e150954.bc7ee68",
        "type": "switch",
        "z": "29928cb0.ddef64",
        "g": "bc4a0f7b.4ef6f",
        "name": "isEmpty",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 660,
        "y": 1000,
        "wires": [
            [
                "f5e6377c.9b9fc8"
            ],
            [
                "ccbe8e67.a7c8"
            ]
        ]
    },
    {
        "id": "f5e6377c.9b9fc8",
        "type": "say",
        "z": "29928cb0.ddef64",
        "g": "bc4a0f7b.4ef6f",
        "name": "",
        "text": "Na, vielleicht fällt dir ja spaeter noch etwas ein.",
        "voice": ":",
        "voiceString": "Anna",
        "speed": "",
        "x": 960,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "9a382a9b.e2dd78",
        "type": "comment",
        "z": "29928cb0.ddef64",
        "g": "a8081aca.df57b8",
        "name": "listening to yes/no",
        "info": "",
        "x": 430,
        "y": 420,
        "wires": []
    },
    {
        "id": "fecc3e62.d266f",
        "type": "comment",
        "z": "29928cb0.ddef64",
        "g": "98284da6.430f8",
        "name": "welcome",
        "info": "",
        "x": 400,
        "y": 140,
        "wires": []
    },
    {
        "id": "916ee524.eed348",
        "type": "comment",
        "z": "29928cb0.ddef64",
        "g": "fec5c43f.4caea8",
        "name": "response on yes/no",
        "info": "",
        "x": 430,
        "y": 640,
        "wires": []
    },
    {
        "id": "c73765d4.c77538",
        "type": "comment",
        "z": "29928cb0.ddef64",
        "g": "7f6892dc.4d798c",
        "name": "follow up question",
        "info": "",
        "x": 1190,
        "y": 640,
        "wires": []
    },
    {
        "id": "ef4c666c.3eb1a8",
        "type": "comment",
        "z": "29928cb0.ddef64",
        "g": "bc4a0f7b.4ef6f",
        "name": "listening and transcribing response",
        "info": "",
        "x": 480,
        "y": 920,
        "wires": []
    },
    {
        "id": "3240d69a.8af01a",
        "type": "comment",
        "z": "29928cb0.ddef64",
        "g": "bc4a0f7b.4ef6f",
        "name": "output",
        "info": "",
        "x": 650,
        "y": 1060,
        "wires": []
    },
    {
        "id": "bc7ab630.9dac68",
        "type": "random-output",
        "z": "29928cb0.ddef64",
        "g": "98284da6.430f8",
        "name": "",
        "outputs": 3,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "68fdf52d.1c99dc"
            ],
            [
                "b90b610c.554ac"
            ],
            [
                "c196ff51.b0952"
            ]
        ]
    },
    {
        "id": "b90b610c.554ac",
        "type": "say",
        "z": "29928cb0.ddef64",
        "g": "98284da6.430f8",
        "name": "",
        "text": "Hallo, schön, dass du da bist",
        "voice": ":",
        "voiceString": "Anna",
        "speed": "",
        "x": 700,
        "y": 240,
        "wires": [
            [
                "81aed966.ebadd8"
            ]
        ]
    },
    {
        "id": "c196ff51.b0952",
        "type": "say",
        "z": "29928cb0.ddef64",
        "g": "98284da6.430f8",
        "name": "",
        "text": "Herzlich willkommen bei uns im Museum",
        "voice": ":",
        "voiceString": "Anna",
        "speed": "",
        "x": 740,
        "y": 280,
        "wires": [
            [
                "81aed966.ebadd8"
            ]
        ]
    },
    {
        "id": "5cc4d2eb.79c9bc",
        "type": "change",
        "z": "79d9afa4.2a85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "recording",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 420,
        "wires": [
            [
                "72f194da.35b22c"
            ]
        ]
    },
    {
        "id": "ec9075e3.0481e8",
        "type": "switch",
        "z": "79d9afa4.2a85",
        "name": "",
        "property": "recording",
        "propertyType": "global",
        "rules": [
            {
                "t": "neq",
                "v": "true",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 170,
        "y": 220,
        "wires": [
            [
                "5cc4d2eb.79c9bc",
                "b91276d7.64be98",
                "f6832e92.081ca"
            ]
        ]
    },
    {
        "id": "230ebf7e.956d1",
        "type": "change",
        "z": "79d9afa4.2a85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "recording",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "bed8a17f.0a7b7",
        "type": "function",
        "z": "29928cb0.ddef64",
        "g": "7f6892dc.4d798c",
        "name": "_",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1710,
        "y": 780,
        "wires": [
            [
                "d590080b.6ae9c8"
            ]
        ]
    },
    {
        "id": "4341ba2b.f38f84",
        "type": "change",
        "z": "29928cb0.ddef64",
        "g": "a8081aca.df57b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "answer",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 500,
        "wires": [
            [
                "98bc2bf7.6ca018"
            ]
        ]
    },
    {
        "id": "72f194da.35b22c",
        "type": "change",
        "z": "79d9afa4.2a85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"text\" : \"recording\", \"fill\" : \"green\", \"shape\" : \"dot\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "c28f3676.360ea8",
        "type": "change",
        "z": "79d9afa4.2a85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "b1725466.c00e58",
        "type": "change",
        "z": "79d9afa4.2a85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"text\" : \"error\", \"fill\" : \"red\", \"shape\" : \"dot\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "3cfe07d8.4c92d8",
        "type": "fuzzy-match",
        "z": "29928cb0.ddef64",
        "g": "a8081aca.df57b8",
        "name": "recognize yes/no",
        "choices": "yes:Ja * vermisse es\nyes:Ja\nyes:aufjedenfall\nyes:Manchmal schon\nyes:schon\nyes:ja sehr\nno:nein\nno:* vermisse es nicht\nno:* langweilig\nno:nee\nno:nein überhaupt nicht",
        "scorer": "WRatio",
        "limit": "0",
        "cutoff": "50",
        "x": 850,
        "y": 500,
        "wires": [
            [
                "4341ba2b.f38f84"
            ],
            []
        ]
    },
    {
        "id": "f7d85c88.15f84",
        "type": "switch",
        "z": "79d9afa4.2a85",
        "name": "",
        "property": "play_beep",
        "propertyType": "env",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 80,
        "wires": [
            [
                "d2c2ccf7.555df"
            ],
            []
        ]
    },
    {
        "id": "d2c2ccf7.555df",
        "type": "play-soundfile",
        "z": "79d9afa4.2a85",
        "name": "",
        "directory": "c531aa1.9af8558",
        "file": "beep.wav",
        "allow_multiple": false,
        "x": 1020,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "6a5903c5.7f73dc",
        "type": "inject",
        "z": "6dbde5f0.a7aefc",
        "name": "start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "bde09bf0.190058"
            ]
        ]
    },
    {
        "id": "bde09bf0.190058",
        "type": "play-soundfile",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "directory": "f0c6baff.ba8948",
        "file": "01_hallo.aif",
        "allow_multiple": false,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "c3176fa.d7e149"
            ]
        ]
    },
    {
        "id": "c3176fa.d7e149",
        "type": "delay",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 590,
        "y": 180,
        "wires": [
            [
                "40cee1ee.750eb"
            ]
        ]
    },
    {
        "id": "40cee1ee.750eb",
        "type": "play-soundfile",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "directory": "f0c6baff.ba8948",
        "file": "02_datenschutz.aif",
        "allow_multiple": false,
        "x": 930,
        "y": 180,
        "wires": [
            [
                "dbdfc6f7.cb5aa8"
            ]
        ]
    },
    {
        "id": "dbdfc6f7.cb5aa8",
        "type": "subflow:79d9afa4.2a85",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "env": [
            {
                "name": "timeout",
                "value": "1",
                "type": "num"
            }
        ],
        "x": 1120,
        "y": 180,
        "wires": [
            [
                "5c433879.7dae18"
            ],
            []
        ]
    },
    {
        "id": "5c433879.7dae18",
        "type": "fuzzy-match",
        "z": "6dbde5f0.a7aefc",
        "name": "recognize yes/no",
        "inputOptions": "text",
        "choices": "yes:Ja\nyes:aufjedenfall\nyes:klar\nyes:gerne\nyes:einverstanden\nyes:Ok\nyes:Okay\nyes:In ordnung\nyes:ja * wieso nicht\nno:nein * bitte nicht\nno:nein\nno:aufkeinenfall\nno:möchte ich nicht\nno:will ich nicht",
        "scorer": "token_sort_ratio",
        "limit": "0",
        "cutoff": "30",
        "x": 1330,
        "y": 180,
        "wires": [
            [
                "e9637c72.67a46"
            ],
            []
        ]
    },
    {
        "id": "5d1a1c98.ef9ac4",
        "type": "comment",
        "z": "6dbde5f0.a7aefc",
        "name": "Begrüssung",
        "info": "",
        "x": 350,
        "y": 140,
        "wires": []
    },
    {
        "id": "c909f3d6.06896",
        "type": "comment",
        "z": "6dbde5f0.a7aefc",
        "name": "Datenschutz Frage",
        "info": "",
        "x": 930,
        "y": 140,
        "wires": []
    },
    {
        "id": "7308422d.bd651c",
        "type": "switch",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "property": "payload.key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "yes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "no",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1890,
        "y": 180,
        "wires": [
            [
                "8616270a.4ccc08"
            ],
            [
                "5cffede6.b0c6e4"
            ]
        ]
    },
    {
        "id": "8616270a.4ccc08",
        "type": "play-soundfile",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "directory": "f0c6baff.ba8948",
        "file": "03_startfrage.aif",
        "allow_multiple": false,
        "x": 360,
        "y": 400,
        "wires": [
            [
                "ee392e00.0a73b"
            ]
        ]
    },
    {
        "id": "b900f6ab.2c4bd8",
        "type": "comment",
        "z": "6dbde5f0.a7aefc",
        "name": "Datenschutz Ja / Wohnst du gerade in der Gegend?",
        "info": "",
        "x": 470,
        "y": 360,
        "wires": []
    },
    {
        "id": "ee392e00.0a73b",
        "type": "subflow:79d9afa4.2a85",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "env": [
            {
                "name": "timeout",
                "value": "1",
                "type": "num"
            }
        ],
        "x": 560,
        "y": 400,
        "wires": [
            [
                "abf67973.d23ee8"
            ],
            []
        ]
    },
    {
        "id": "abf67973.d23ee8",
        "type": "fuzzy-match",
        "z": "6dbde5f0.a7aefc",
        "name": "recognize yes/no",
        "inputOptions": "text",
        "choices": "yes:Ja\nyes:ja, ich wohne hier\nyes:ja klar\nyes:Ja, ich wohne in der \nno:nein\nno:nein, ich wohne woanders\nno:nein, ich wohne nicht hier\nno:Nee",
        "scorer": "token_sort_ratio",
        "limit": "0",
        "cutoff": "30",
        "x": 770,
        "y": 400,
        "wires": [
            [
                "1ac3e472.b0b89c"
            ],
            []
        ]
    },
    {
        "id": "3a23dd73.e71b62",
        "type": "switch",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "property": "payload.key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "yes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "no",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1310,
        "y": 400,
        "wires": [
            [
                "62efa8f0.4ba318"
            ],
            [
                "101c0a98.fad895"
            ]
        ]
    },
    {
        "id": "5cffede6.b0c6e4",
        "type": "play-soundfile",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "directory": "f0c6baff.ba8948",
        "file": "11_datenschutz_nein.aif",
        "allow_multiple": false,
        "x": 1890,
        "y": 740,
        "wires": [
            [
                "c707228e.5347a"
            ]
        ]
    },
    {
        "id": "21a0c6ad.699c1a",
        "type": "delay",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1750,
        "y": 180,
        "wires": [
            [
                "7308422d.bd651c"
            ]
        ]
    },
    {
        "id": "222ca8e0.53e718",
        "type": "comment",
        "z": "6dbde5f0.a7aefc",
        "name": "Datenschutz Nein",
        "info": "",
        "x": 1870,
        "y": 700,
        "wires": []
    },
    {
        "id": "f0d50b5a.9c2018",
        "type": "delay",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1170,
        "y": 400,
        "wires": [
            [
                "3a23dd73.e71b62"
            ]
        ]
    },
    {
        "id": "62efa8f0.4ba318",
        "type": "play-soundfile",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "directory": "f0c6baff.ba8948",
        "file": "04_frage1_ja.aif",
        "allow_multiple": false,
        "x": 360,
        "y": 540,
        "wires": [
            [
                "60ab38d3.abd0b8"
            ]
        ]
    },
    {
        "id": "6320d27f.9dbe9c",
        "type": "comment",
        "z": "6dbde5f0.a7aefc",
        "name": "Ja, wohne in der Gegend",
        "info": "",
        "x": 390,
        "y": 500,
        "wires": []
    },
    {
        "id": "60ab38d3.abd0b8",
        "type": "subflow:79d9afa4.2a85",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "env": [
            {
                "name": "timeout",
                "value": "3",
                "type": "num"
            }
        ],
        "x": 700,
        "y": 540,
        "wires": [
            [
                "47ba9f5.526af6"
            ],
            []
        ]
    },
    {
        "id": "47ba9f5.526af6",
        "type": "change",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "answer1",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 540,
        "wires": [
            [
                "8db65212.3e108"
            ]
        ]
    },
    {
        "id": "292f2185.f1b74e",
        "type": "play-soundfile",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "directory": "f0c6baff.ba8948",
        "file": "06_frage2.aif",
        "allow_multiple": false,
        "x": 350,
        "y": 780,
        "wires": [
            [
                "45f4de06.c01c9"
            ]
        ]
    },
    {
        "id": "10c96d8e.e324f2",
        "type": "comment",
        "z": "6dbde5f0.a7aefc",
        "name": "Frage nach besonderem Erlebnis",
        "info": "",
        "x": 410,
        "y": 740,
        "wires": []
    },
    {
        "id": "8db65212.3e108",
        "type": "delay",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1090,
        "y": 540,
        "wires": [
            [
                "292f2185.f1b74e"
            ]
        ]
    },
    {
        "id": "45f4de06.c01c9",
        "type": "subflow:79d9afa4.2a85",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "env": [
            {
                "name": "timeout",
                "value": "3",
                "type": "num"
            }
        ],
        "x": 560,
        "y": 780,
        "wires": [
            [
                "ffd72280.9a46e"
            ],
            []
        ]
    },
    {
        "id": "ffd72280.9a46e",
        "type": "change",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "answer2",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 780,
        "wires": [
            [
                "c1a9dff5.bc7ff"
            ]
        ]
    },
    {
        "id": "c1a9dff5.bc7ff",
        "type": "delay",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 950,
        "y": 780,
        "wires": [
            [
                "f4c48425.7204d8"
            ]
        ]
    },
    {
        "id": "a0a37c76.5918d",
        "type": "comment",
        "z": "6dbde5f0.a7aefc",
        "name": "Danke",
        "info": "",
        "x": 330,
        "y": 880,
        "wires": []
    },
    {
        "id": "f4c48425.7204d8",
        "type": "play-soundfile",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "directory": "f0c6baff.ba8948",
        "file": "08_danke_geschichte.aif",
        "allow_multiple": false,
        "x": 390,
        "y": 920,
        "wires": [
            [
                "391f8924.ead636"
            ]
        ]
    },
    {
        "id": "391f8924.ead636",
        "type": "delay",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 630,
        "y": 920,
        "wires": [
            [
                "be65d672.b1b588"
            ]
        ]
    },
    {
        "id": "be65d672.b1b588",
        "type": "play-soundfile",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "directory": "f0c6baff.ba8948",
        "file": "09_andere_kiezgeschichte.aif",
        "allow_multiple": false,
        "x": 1890,
        "y": 920,
        "wires": [
            [
                "c707228e.5347a"
            ]
        ]
    },
    {
        "id": "c707228e.5347a",
        "type": "subflow:79d9afa4.2a85",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "env": [
            {
                "name": "timeout",
                "value": "1",
                "type": "num"
            }
        ],
        "x": 2160,
        "y": 820,
        "wires": [
            [
                "a3da1af3.c43ae8"
            ],
            []
        ]
    },
    {
        "id": "a3da1af3.c43ae8",
        "type": "fuzzy-match",
        "z": "6dbde5f0.a7aefc",
        "name": "recognize yes/no",
        "inputOptions": "text",
        "choices": "yes:Ja\nyes:gerne\nyes:ja bitte\nyes:gerne\nyes:klar\nno:nein\nno:heute nicht\nno:will ich nicht\nno:moechte ich nicht",
        "scorer": "token_sort_ratio",
        "limit": "0",
        "cutoff": "30",
        "x": 2370,
        "y": 820,
        "wires": [
            [
                "dd62a423.a9ebe8"
            ],
            []
        ]
    },
    {
        "id": "91d4f892.f42ff8",
        "type": "switch",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "property": "payload.key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "yes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "no",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 2730,
        "y": 820,
        "wires": [
            [
                "2c87df3.928852"
            ],
            [
                "2c87df3.928852"
            ],
            [
                "2c87df3.928852"
            ]
        ]
    },
    {
        "id": "2c87df3.928852",
        "type": "play-soundfile",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "directory": "f0c6baff.ba8948",
        "file": "10_danke_tschuess.aif",
        "allow_multiple": false,
        "x": 2960,
        "y": 820,
        "wires": [
            [
                "bf6ef783.de1118",
                "58a47ec5.6a324"
            ]
        ]
    },
    {
        "id": "3344258.8a554da",
        "type": "comment",
        "z": "6dbde5f0.a7aefc",
        "name": "Moechtest du eine Geschichte hoeren?",
        "info": "",
        "x": 2230,
        "y": 780,
        "wires": []
    },
    {
        "id": "973286e4.4b50f8",
        "type": "comment",
        "z": "6dbde5f0.a7aefc",
        "name": "Verabschiedung",
        "info": "",
        "x": 2940,
        "y": 780,
        "wires": []
    },
    {
        "id": "bf6ef783.de1118",
        "type": "debug",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3190,
        "y": 740,
        "wires": []
    },
    {
        "id": "101c0a98.fad895",
        "type": "play-soundfile",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "directory": "f0c6baff.ba8948",
        "file": "05_frage1_nein.aif",
        "allow_multiple": false,
        "x": 370,
        "y": 640,
        "wires": [
            [
                "60ab38d3.abd0b8"
            ]
        ]
    },
    {
        "id": "cfbd84da.1d66d8",
        "type": "comment",
        "z": "6dbde5f0.a7aefc",
        "name": "Nein, wohne nicht hier",
        "info": "",
        "x": 380,
        "y": 600,
        "wires": []
    },
    {
        "id": "b9b14a75.48c2e8",
        "type": "inject",
        "z": "6dbde5f0.a7aefc",
        "name": "reset",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "2e415449.e28c5c"
            ]
        ]
    },
    {
        "id": "2e415449.e28c5c",
        "type": "change",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "recording",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "68eddc5d.88c3c4",
        "type": "file",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "filename": "/Users/lutz/Desktop/kiezgeschichten-dialog/answers.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 2630,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "1a69b483.53985b",
        "type": "template",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "time: {{time}}; select1: {{select1.key}}; select2: {{select2.key}}; answer1: {{answer1}}; answer2: {{answer2}}",
        "output": "str",
        "x": 2320,
        "y": 960,
        "wires": [
            [
                "68eddc5d.88c3c4"
            ]
        ]
    },
    {
        "id": "68974f52.c4c9a",
        "type": "comment",
        "z": "6dbde5f0.a7aefc",
        "name": "In datei speichern",
        "info": "",
        "x": 2170,
        "y": 920,
        "wires": []
    },
    {
        "id": "1ac3e472.b0b89c",
        "type": "change",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "select2",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 400,
        "wires": [
            [
                "f0d50b5a.9c2018"
            ]
        ]
    },
    {
        "id": "e9637c72.67a46",
        "type": "change",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "select1",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1560,
        "y": 180,
        "wires": [
            [
                "21a0c6ad.699c1a"
            ]
        ]
    },
    {
        "id": "4c8fb24c.29c81c",
        "type": "inject",
        "z": "79d9afa4.2a85",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "c28f3676.360ea8",
                "230ebf7e.956d1"
            ]
        ]
    },
    {
        "id": "f6832e92.081ca",
        "type": "delay",
        "z": "79d9afa4.2a85",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 570,
        "y": 120,
        "wires": [
            [
                "f7d85c88.15f84"
            ]
        ]
    },
    {
        "id": "58a47ec5.6a324",
        "type": "change",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "time",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2150,
        "y": 960,
        "wires": [
            [
                "1a69b483.53985b"
            ]
        ]
    },
    {
        "id": "dd62a423.a9ebe8",
        "type": "delay",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2570,
        "y": 820,
        "wires": [
            [
                "91d4f892.f42ff8"
            ]
        ]
    },
    {
        "id": "91752b72.02cba8",
        "type": "inject",
        "z": "4a06756c.fb29bc",
        "name": "start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "223d2bf4.4932b4"
            ]
        ]
    },
    {
        "id": "223d2bf4.4932b4",
        "type": "play-soundfile",
        "z": "4a06756c.fb29bc",
        "name": "",
        "directory": "113bba6b.b1a796",
        "file": "01_Hallo.aif",
        "allow_multiple": false,
        "x": 370,
        "y": 200,
        "wires": [
            [
                "9c89a05f.e7694"
            ]
        ]
    },
    {
        "id": "9c89a05f.e7694",
        "type": "delay",
        "z": "4a06756c.fb29bc",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 610,
        "y": 200,
        "wires": [
            [
                "a7799a33.f32428"
            ]
        ]
    },
    {
        "id": "a7799a33.f32428",
        "type": "play-soundfile",
        "z": "4a06756c.fb29bc",
        "name": "",
        "directory": "113bba6b.b1a796",
        "file": "02_Datenschutz.aif",
        "allow_multiple": false,
        "x": 950,
        "y": 200,
        "wires": [
            [
                "354b8c1e.420bb4"
            ]
        ]
    },
    {
        "id": "354b8c1e.420bb4",
        "type": "subflow:79d9afa4.2a85",
        "z": "4a06756c.fb29bc",
        "name": "",
        "env": [
            {
                "name": "timeout",
                "value": "1",
                "type": "num"
            }
        ],
        "x": 1140,
        "y": 200,
        "wires": [
            [
                "3df70560.4cbdba"
            ],
            []
        ]
    },
    {
        "id": "3df70560.4cbdba",
        "type": "fuzzy-match",
        "z": "4a06756c.fb29bc",
        "name": "recognize yes/no",
        "inputOptions": "text",
        "choices": "yes:Ja\nyes:aufjedenfall\nyes:klar\nyes:gerne\nyes:einverstanden\nyes:Ok\nyes:Okay\nyes:In ordnung\nyes:ja * wieso nicht\nno:nein * bitte nicht\nno:nein\nno:aufkeinenfall\nno:möchte ich nicht\nno:will ich nicht\nno:nee\nno:lieber nicht",
        "scorer": "token_sort_ratio",
        "limit": "0",
        "cutoff": "30",
        "x": 1350,
        "y": 200,
        "wires": [
            [
                "d0a467f9.26d9e8"
            ],
            []
        ]
    },
    {
        "id": "4eaed88c.d5fc58",
        "type": "comment",
        "z": "4a06756c.fb29bc",
        "name": "Begrüssung",
        "info": "",
        "x": 370,
        "y": 160,
        "wires": []
    },
    {
        "id": "ae6fabba.be2ff8",
        "type": "comment",
        "z": "4a06756c.fb29bc",
        "name": "Datenschutz Frage",
        "info": "",
        "x": 950,
        "y": 160,
        "wires": []
    },
    {
        "id": "6b3e7318.93a25c",
        "type": "switch",
        "z": "4a06756c.fb29bc",
        "name": "",
        "property": "payload.key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "yes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "no",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1910,
        "y": 200,
        "wires": [
            [
                "d5e84c21.9e042"
            ],
            [
                "3a8f010f.e6ccee"
            ]
        ]
    },
    {
        "id": "d5e84c21.9e042",
        "type": "play-soundfile",
        "z": "4a06756c.fb29bc",
        "name": "",
        "directory": "113bba6b.b1a796",
        "file": "03_seitDreiWochen.aif",
        "allow_multiple": false,
        "x": 400,
        "y": 400,
        "wires": [
            [
                "78acd09c.97a66"
            ]
        ]
    },
    {
        "id": "7a68758a.01c34c",
        "type": "comment",
        "z": "4a06756c.fb29bc",
        "name": "Datenschutz Ja / Geschichte",
        "info": "",
        "x": 420,
        "y": 360,
        "wires": []
    },
    {
        "id": "3a8f010f.e6ccee",
        "type": "play-soundfile",
        "z": "4a06756c.fb29bc",
        "name": "",
        "directory": "113bba6b.b1a796",
        "file": "09_Nein.aif",
        "allow_multiple": false,
        "x": 2070,
        "y": 400,
        "wires": [
            [
                "939a061a.661e88"
            ]
        ]
    },
    {
        "id": "5edf2052.64a29",
        "type": "delay",
        "z": "4a06756c.fb29bc",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1770,
        "y": 200,
        "wires": [
            [
                "6b3e7318.93a25c"
            ]
        ]
    },
    {
        "id": "687bc218.ef272c",
        "type": "comment",
        "z": "4a06756c.fb29bc",
        "name": "Datenschutz Nein",
        "info": "",
        "x": 2090,
        "y": 360,
        "wires": []
    },
    {
        "id": "78acd09c.97a66",
        "type": "delay",
        "z": "4a06756c.fb29bc",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 600,
        "y": 400,
        "wires": [
            [
                "2e1e323f.d7290e"
            ]
        ]
    },
    {
        "id": "2fa7c47f.b2154c",
        "type": "play-soundfile",
        "z": "4a06756c.fb29bc",
        "name": "",
        "directory": "113bba6b.b1a796",
        "file": "05_Frage1_deineMeinung.aif",
        "allow_multiple": false,
        "x": 420,
        "y": 540,
        "wires": [
            [
                "8cb50038.d81af"
            ]
        ]
    },
    {
        "id": "bf20ebd0.988888",
        "type": "comment",
        "z": "4a06756c.fb29bc",
        "name": "Wo engagieren?",
        "info": "",
        "x": 380,
        "y": 500,
        "wires": []
    },
    {
        "id": "8cb50038.d81af",
        "type": "subflow:79d9afa4.2a85",
        "z": "4a06756c.fb29bc",
        "name": "",
        "env": [],
        "x": 660,
        "y": 540,
        "wires": [
            [
                "af386139.abee1"
            ],
            []
        ]
    },
    {
        "id": "af386139.abee1",
        "type": "change",
        "z": "4a06756c.fb29bc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "answer1",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 540,
        "wires": [
            [
                "10fabef5.aba741"
            ]
        ]
    },
    {
        "id": "ae06731b.68017",
        "type": "play-soundfile",
        "z": "4a06756c.fb29bc",
        "name": "",
        "directory": "113bba6b.b1a796",
        "file": "06_Frage2_wofürEngagiert.aif",
        "allow_multiple": false,
        "x": 430,
        "y": 680,
        "wires": [
            [
                "6d735572.e8dcec"
            ]
        ]
    },
    {
        "id": "c4a2a98b.74d388",
        "type": "comment",
        "z": "4a06756c.fb29bc",
        "name": "Wo hast du dich schonmal engagiert?",
        "info": "",
        "x": 450,
        "y": 640,
        "wires": []
    },
    {
        "id": "10fabef5.aba741",
        "type": "delay",
        "z": "4a06756c.fb29bc",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1050,
        "y": 540,
        "wires": [
            [
                "ae06731b.68017"
            ]
        ]
    },
    {
        "id": "6d735572.e8dcec",
        "type": "subflow:79d9afa4.2a85",
        "z": "4a06756c.fb29bc",
        "name": "",
        "env": [],
        "x": 700,
        "y": 680,
        "wires": [
            [
                "3c9c1082.eeefa"
            ],
            []
        ]
    },
    {
        "id": "3c9c1082.eeefa",
        "type": "change",
        "z": "4a06756c.fb29bc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "answer2",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 680,
        "wires": [
            [
                "3f62c0dd.dbf8e"
            ]
        ]
    },
    {
        "id": "3f62c0dd.dbf8e",
        "type": "delay",
        "z": "4a06756c.fb29bc",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1110,
        "y": 680,
        "wires": [
            [
                "a397d564.f61628"
            ]
        ]
    },
    {
        "id": "2eb9ca5b.5f7e16",
        "type": "comment",
        "z": "4a06756c.fb29bc",
        "name": "Danke",
        "info": "",
        "x": 350,
        "y": 780,
        "wires": []
    },
    {
        "id": "a397d564.f61628",
        "type": "play-soundfile",
        "z": "4a06756c.fb29bc",
        "name": "",
        "directory": "113bba6b.b1a796",
        "file": "07_nochWeitereStimmen.aif",
        "allow_multiple": false,
        "x": 420,
        "y": 820,
        "wires": [
            [
                "584b8fab.7360c"
            ]
        ]
    },
    {
        "id": "584b8fab.7360c",
        "type": "delay",
        "z": "4a06756c.fb29bc",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 710,
        "y": 820,
        "wires": [
            [
                "939a061a.661e88"
            ]
        ]
    },
    {
        "id": "939a061a.661e88",
        "type": "subflow:79d9afa4.2a85",
        "z": "4a06756c.fb29bc",
        "name": "",
        "env": [
            {
                "name": "timeout",
                "value": "1",
                "type": "num"
            }
        ],
        "x": 2100,
        "y": 820,
        "wires": [
            [
                "55b19002.b79aa"
            ],
            []
        ]
    },
    {
        "id": "55b19002.b79aa",
        "type": "fuzzy-match",
        "z": "4a06756c.fb29bc",
        "name": "recognize yes/no",
        "inputOptions": "text",
        "choices": "yes:Ja\nyes:gerne\nyes:ja bitte\nyes:gerne\nyes:klar\nno:nein\nno:heute nicht\nno:will ich nicht\nno:moechte ich nicht",
        "scorer": "token_sort_ratio",
        "limit": "0",
        "cutoff": "30",
        "x": 2310,
        "y": 820,
        "wires": [
            [
                "a131fc76.02f68"
            ],
            []
        ]
    },
    {
        "id": "d773b97.ac25d48",
        "type": "switch",
        "z": "4a06756c.fb29bc",
        "name": "",
        "property": "payload.key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "yes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "no",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 2670,
        "y": 820,
        "wires": [
            [
                "c6fcb53c.ad68d8"
            ],
            [
                "c6fcb53c.ad68d8"
            ],
            [
                "c6fcb53c.ad68d8"
            ]
        ]
    },
    {
        "id": "c6fcb53c.ad68d8",
        "type": "play-soundfile",
        "z": "4a06756c.fb29bc",
        "name": "",
        "directory": "113bba6b.b1a796",
        "file": "08_Verabschiedung.aif",
        "allow_multiple": false,
        "x": 2880,
        "y": 820,
        "wires": [
            [
                "4b47c22f.d3746c"
            ]
        ]
    },
    {
        "id": "c562d61e.0d17a8",
        "type": "comment",
        "z": "4a06756c.fb29bc",
        "name": "Moechtest du eine Stimme hoeren?",
        "info": "",
        "x": 2160,
        "y": 780,
        "wires": []
    },
    {
        "id": "3199c064.ddabb",
        "type": "comment",
        "z": "4a06756c.fb29bc",
        "name": "Verabschiedung",
        "info": "",
        "x": 2860,
        "y": 780,
        "wires": []
    },
    {
        "id": "f7292713.8bc008",
        "type": "inject",
        "z": "4a06756c.fb29bc",
        "name": "reset",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "9533224b.d3687"
            ]
        ]
    },
    {
        "id": "9533224b.d3687",
        "type": "change",
        "z": "4a06756c.fb29bc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "recording",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c2883541.617a28",
        "type": "file",
        "z": "4a06756c.fb29bc",
        "name": "",
        "filename": "/Users/lutz/Desktop/futurium-dialog/answers.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 2540,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "e03c8f6f.2f2a8",
        "type": "template",
        "z": "4a06756c.fb29bc",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "time: {{time}}; select1: {{select1.key}}; select2: {{select2.key}}; answer1: {{answer1}}; answer2: {{answer2}}",
        "output": "str",
        "x": 2260,
        "y": 960,
        "wires": [
            [
                "c2883541.617a28"
            ]
        ]
    },
    {
        "id": "a0b31b04.6ead78",
        "type": "comment",
        "z": "4a06756c.fb29bc",
        "name": "In datei speichern",
        "info": "",
        "x": 2110,
        "y": 920,
        "wires": []
    },
    {
        "id": "d0a467f9.26d9e8",
        "type": "change",
        "z": "4a06756c.fb29bc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "select1",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 200,
        "wires": [
            [
                "5edf2052.64a29"
            ]
        ]
    },
    {
        "id": "4b47c22f.d3746c",
        "type": "change",
        "z": "4a06756c.fb29bc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "time",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2090,
        "y": 960,
        "wires": [
            [
                "e03c8f6f.2f2a8"
            ]
        ]
    },
    {
        "id": "a131fc76.02f68",
        "type": "delay",
        "z": "4a06756c.fb29bc",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2510,
        "y": 820,
        "wires": [
            [
                "d773b97.ac25d48"
            ]
        ]
    },
    {
        "id": "2e1e323f.d7290e",
        "type": "play-soundfile",
        "z": "4a06756c.fb29bc",
        "name": "",
        "directory": "113bba6b.b1a796",
        "file": "04_Zitat.aif",
        "allow_multiple": false,
        "x": 770,
        "y": 400,
        "wires": [
            [
                "c173b418.e7ca48"
            ]
        ]
    },
    {
        "id": "c173b418.e7ca48",
        "type": "delay",
        "z": "4a06756c.fb29bc",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 940,
        "y": 400,
        "wires": [
            [
                "2fa7c47f.b2154c"
            ]
        ]
    },
    {
        "id": "668d49fc.51d3c8",
        "type": "socketio-emitter",
        "z": "5fecfc4e.735094",
        "server": "cfbb12ea.54ab9",
        "eventname": "audio/start",
        "message": "",
        "messageType": "json",
        "name": "",
        "x": 890,
        "y": 360,
        "wires": []
    },
    {
        "id": "df9f28ae.b8e168",
        "type": "socketio-emitter",
        "z": "5fecfc4e.735094",
        "server": "cfbb12ea.54ab9",
        "eventname": "audio/data",
        "message": "",
        "messageType": "str",
        "name": "",
        "x": 890,
        "y": 480,
        "wires": []
    },
    {
        "id": "dfca12cd.d0943",
        "type": "inject",
        "z": "5fecfc4e.735094",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "start",
        "payloadType": "str",
        "x": 190,
        "y": 420,
        "wires": [
            [
                "f8382649.e159f8"
            ]
        ]
    },
    {
        "id": "6d0148db.3be3f8",
        "type": "inject",
        "z": "5fecfc4e.735094",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "stop",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "f8382649.e159f8"
            ]
        ]
    },
    {
        "id": "71e5ad86.eb7824",
        "type": "switch",
        "z": "5fecfc4e.735094",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "stop",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 420,
        "wires": [
            [
                "ce23d93c.c2e428"
            ],
            [
                "27610e77.e46972"
            ]
        ]
    },
    {
        "id": "27610e77.e46972",
        "type": "socketio-emitter",
        "z": "5fecfc4e.735094",
        "server": "cfbb12ea.54ab9",
        "eventname": "audio/stop",
        "message": "",
        "messageType": "str",
        "name": "",
        "x": 890,
        "y": 420,
        "wires": []
    },
    {
        "id": "60fb0c6d.9e0e94",
        "type": "debug",
        "z": "5fecfc4e.735094",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "7487d266.c75f7c",
        "type": "socketio-listener",
        "z": "5fecfc4e.735094",
        "server": "cfbb12ea.54ab9",
        "eventname": "error",
        "name": "",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "60fb0c6d.9e0e94"
            ]
        ]
    },
    {
        "id": "a8535378.b6bb5",
        "type": "socketio-listener",
        "z": "5fecfc4e.735094",
        "server": "cfbb12ea.54ab9",
        "eventname": "speech/result",
        "name": "",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "60fb0c6d.9e0e94"
            ]
        ]
    },
    {
        "id": "f8382649.e159f8",
        "type": "tools-mic",
        "z": "5fecfc4e.735094",
        "name": "",
        "sampleRate": "8000",
        "channels": "2",
        "device": "",
        "endian": "little",
        "bitwidth": "16",
        "x": 360,
        "y": 440,
        "wires": [
            [
                "71e5ad86.eb7824"
            ],
            [
                "d85c944e.3dc958"
            ]
        ]
    },
    {
        "id": "ce23d93c.c2e428",
        "type": "change",
        "z": "5fecfc4e.735094",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.language",
                "pt": "msg",
                "to": "de",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.sampleRate",
                "pt": "msg",
                "to": "config.rate",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 360,
        "wires": [
            [
                "668d49fc.51d3c8"
            ]
        ]
    },
    {
        "id": "c3c396b.e004868",
        "type": "function",
        "z": "f161ee02.77c0d",
        "name": "",
        "func": "if (msg.config.channels == 1)\n    return msg\n    \nconst bytewidth = msg.config.bitwidth/8\nconst input = msg.payload\nconst output = Buffer.alloc(input.length/2)\n\nif (bytewidth == 1) {\n    for (let i=0;i<output.length;i+=1) {\n        output[i] = input[i*2];\n    }\n    msg.payload = output\n} else if (bytewidth == 2) {\n    for (let i=0;i<output.length;i+=2) {\n        output[i] = input[i*2]\n        output[i+1] = input[i*2+1]\n    }\n    msg.payload = output\n} else if (bytewidth == 3) {\n    for (let i=0;i<output.length;i+=3) {\n        output[i] = input[i*3]\n        output[i+1] = input[i*3+1]\n        output[i+2] = input[i*3+2]\n    }\n    msg.payload = output\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 200,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "d85c944e.3dc958",
        "type": "subflow:f161ee02.77c0d",
        "z": "5fecfc4e.735094",
        "name": "",
        "env": [],
        "x": 560,
        "y": 480,
        "wires": [
            [
                "df9f28ae.b8e168"
            ]
        ]
    }
]