flow.json
[
    {
        "id": "29928cb0.ddef64",
        "type": "tab",
        "label": "Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6dbde5f0.a7aefc",
        "type": "tab",
        "label": "Kiezgeschichten",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5fecfc4e.735094",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "79d9afa4.2a85",
        "type": "subflow",
        "name": "speech-to-text",
        "info": "",
        "category": "tools",
        "in": [
            {
                "x": 20,
                "y": 220,
                "wires": [
                    {
                        "id": "ec9075e3.0481e8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1300,
                "y": 160,
                "wires": [
                    {
                        "id": "f8c7b0b1.b8edd",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1300,
                "y": 220,
                "wires": [
                    {
                        "id": "a068987f.813c98",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "language",
                "type": "str",
                "value": "de",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "wait",
                "type": "num",
                "value": "10",
                "ui": {
                    "label": {
                        "en-US": "initial wait"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            },
            {
                "name": "timeout",
                "type": "num",
                "value": "2",
                "ui": {
                    "type": "spinner"
                }
            },
            {
                "name": "duration",
                "type": "num",
                "value": "0",
                "ui": {
                    "type": "spinner"
                }
            },
            {
                "name": "play_beep",
                "type": "bool",
                "value": "true",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "bool"
                        ]
                    }
                }
            }
        ],
        "color": "#FFAAAA",
        "outputLabels": [
            "best match",
            "alternatives"
        ],
        "icon": "font-awesome/fa-microphone",
        "status": {
            "x": 1300,
            "y": 380,
            "wires": [
                {
                    "id": "72f194da.35b22c",
                    "port": 0
                },
                {
                    "id": "c28f3676.360ea8",
                    "port": 0
                },
                {
                    "id": "b1725466.c00e58",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "ab8c8a6d.bb5358",
        "type": "subflow",
        "name": "text to speech",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "7a9114e4.b7aa8c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 760,
                "y": 80,
                "wires": [
                    {
                        "id": "1fcc4076.5ee39",
                        "port": 2
                    },
                    {
                        "id": "4a0da2a9.e2c17c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "engine",
                "type": "str",
                "value": "say"
            },
            {
                "name": "language",
                "type": "str",
                "value": "de"
            }
        ],
        "color": "#DDAA99",
        "status": {
            "x": 440,
            "y": 220,
            "wires": [
                {
                    "id": "220ece7.5afd932",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "98284da6.430f8",
        "type": "group",
        "z": "29928cb0.ddef64",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "68fdf52d.1c99dc",
            "81aed966.ebadd8",
            "6e155f41.5635b",
            "fecc3e62.d266f",
            "bc7ab630.9dac68",
            "b90b610c.554ac",
            "c196ff51.b0952"
        ],
        "x": 314,
        "y": 99
    },
    {
        "id": "a8081aca.df57b8",
        "type": "group",
        "z": "29928cb0.ddef64",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d15ad5bf.e12d78",
            "e89ec1ba.979e5",
            "bec2c8b0.15be08",
            "9a382a9b.e2dd78",
            "3cfe07d8.4c92d8",
            "4341ba2b.f38f84"
        ],
        "x": 314,
        "y": 379
    },
    {
        "id": "fec5c43f.4caea8",
        "type": "group",
        "z": "29928cb0.ddef64",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "98bc2bf7.6ca018",
            "cb462194.001c2",
            "493d362f.229aa8",
            "73827c9a.ce4794",
            "fa2af600.fbf0f8",
            "9875010.9d1e3",
            "dba86aa0.7fd678",
            "916ee524.eed348"
        ],
        "x": 314,
        "y": 599
    },
    {
        "id": "7f6892dc.4d798c",
        "type": "group",
        "z": "29928cb0.ddef64",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5eae2d88.de40d4",
            "aa0a7f07.b72af",
            "990da5ae.a2f568",
            "c73765d4.c77538",
            "bed8a17f.0a7b7"
        ],
        "x": 1074,
        "y": 599
    },
    {
        "id": "bc4a0f7b.4ef6f",
        "type": "group",
        "z": "29928cb0.ddef64",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d590080b.6ae9c8",
            "fad51bc4.ebd5f8",
            "ccbe8e67.a7c8",
            "e150954.bc7ee68",
            "f5e6377c.9b9fc8",
            "ef4c666c.3eb1a8",
            "3240d69a.8af01a"
        ],
        "x": 314,
        "y": 879
    },
    {
        "id": "c531aa1.9af8558",
        "type": "soundfile-directory",
        "directory": "sounds"
    },
    {
        "id": "f0c6baff.ba8948",
        "type": "soundfile-directory",
        "directory": "/Users/lutz/Desktop/kiezgeschichten-dialog/recordings"
    },
    {
        "id": "c0df7363.1c449",
        "type": "exec",
        "z": "79d9afa4.2a85",
        "command": "stt_record",
        "addpay": true,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "record",
        "x": 670,
        "y": 220,
        "wires": [
            [
                "a068987f.813c98",
                "230ebf7e.956d1"
            ],
            [
                "b1725466.c00e58",
                "230ebf7e.956d1"
            ],
            [
                "230ebf7e.956d1",
                "f7d85c88.15f84"
            ]
        ]
    },
    {
        "id": "a068987f.813c98",
        "type": "function",
        "z": "79d9afa4.2a85",
        "name": "",
        "func": "msg.payload = JSON.parse(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 840,
        "y": 220,
        "wires": [
            [
                "f8c7b0b1.b8edd",
                "c28f3676.360ea8"
            ]
        ]
    },
    {
        "id": "f8c7b0b1.b8edd",
        "type": "change",
        "z": "79d9afa4.2a85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0][0].transcript",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "1fcc4076.5ee39",
        "type": "exec",
        "z": "ab8c8a6d.bb5358",
        "command": "/Users/lutz/Projects/drl-tools/modules/text-to-speech/.venv/bin/python /Users/lutz/Projects/drl-tools/modules/text-to-speech/speak.py",
        "addpay": true,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "speak",
        "x": 510,
        "y": 80,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "220ece7.5afd932",
        "type": "status",
        "z": "ab8c8a6d.bb5358",
        "name": "",
        "scope": [
            "1fcc4076.5ee39",
            "4a0da2a9.e2c17c"
        ],
        "x": 210,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "4a0da2a9.e2c17c",
        "type": "say",
        "z": "ab8c8a6d.bb5358",
        "name": "",
        "voice": "",
        "x": 330,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "7a9114e4.b7aa8c",
        "type": "switch",
        "z": "ab8c8a6d.bb5358",
        "name": "",
        "property": "engine",
        "propertyType": "env",
        "rules": [
            {
                "t": "eq",
                "v": "google",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "say",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "2a0d725c.27289e"
            ],
            [
                "4a0da2a9.e2c17c"
            ]
        ]
    },
    {
        "id": "2a0d725c.27289e",
        "type": "function",
        "z": "ab8c8a6d.bb5358",
        "name": "set language",
        "func": "let lang = env.get(\"language\");\nmsg.payload = `\"${msg.payload}\" --lang ${lang}`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 350,
        "y": 80,
        "wires": [
            [
                "1fcc4076.5ee39"
            ]
        ]
    },
    {
        "id": "1d5cf971.7c7997",
        "type": "inject",
        "z": "29928cb0.ddef64",
        "name": "start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "bc7ab630.9dac68"
            ]
        ]
    },
    {
        "id": "68fdf52d.1c99dc",
        "type": "say",
        "z": "29928cb0.ddef64",
        "g": "98284da6.430f8",
        "name": "Hallo, willkommen im Museum.",
        "voice": ":",
        "voiceString": "Anna",
        "speed": "",
        "x": 710,
        "y": 200,
        "wires": [
            [
                "81aed966.ebadd8"
            ]
        ]
    },
    {
        "id": "81aed966.ebadd8",
        "type": "delay",
        "z": "29928cb0.ddef64",
        "g": "98284da6.430f8",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1020,
        "y": 240,
        "wires": [
            [
                "6e155f41.5635b"
            ]
        ]
    },
    {
        "id": "6e155f41.5635b",
        "type": "say",
        "z": "29928cb0.ddef64",
        "g": "98284da6.430f8",
        "name": "Vermisst du das Museum ueberhaupt?",
        "voice": ":",
        "voiceString": "Anna",
        "speed": "",
        "x": 1270,
        "y": 240,
        "wires": [
            [
                "d15ad5bf.e12d78"
            ]
        ]
    },
    {
        "id": "d15ad5bf.e12d78",
        "type": "subflow:79d9afa4.2a85",
        "z": "29928cb0.ddef64",
        "g": "a8081aca.df57b8",
        "name": "",
        "env": [],
        "x": 420,
        "y": 500,
        "wires": [
            [
                "e89ec1ba.979e5"
            ],
            []
        ]
    },
    {
        "id": "b91276d7.64be98",
        "type": "function",
        "z": "79d9afa4.2a85",
        "name": "set language, timeout, duration",
        "func": "let arg1 = env.get(\"language\");\nlet arg2 = env.get('duration') > 0 ? \n    `--duration ${env.get('duration')}` :\n    `--timeout ${env.get('timeout')}`\nlet arg3 = `--wait ${env.get('wait')}`\nmsg.payload = `\"--lang ${arg1} ${arg2} ${arg3}`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 450,
        "y": 220,
        "wires": [
            [
                "c0df7363.1c449"
            ]
        ]
    },
    {
        "id": "98bc2bf7.6ca018",
        "type": "switch",
        "z": "29928cb0.ddef64",
        "g": "fec5c43f.4caea8",
        "name": "",
        "property": "payload.key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "yes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "no",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 390,
        "y": 740,
        "wires": [
            [
                "cb462194.001c2"
            ],
            [
                "493d362f.229aa8"
            ],
            [
                "73827c9a.ce4794"
            ]
        ]
    },
    {
        "id": "cb462194.001c2",
        "type": "say",
        "z": "29928cb0.ddef64",
        "g": "fec5c43f.4caea8",
        "name": "Das freut mich. Ich bin auch gerne hier.",
        "voice": ":",
        "voiceString": "Anna",
        "speed": "",
        "x": 680,
        "y": 700,
        "wires": [
            [
                "9875010.9d1e3"
            ]
        ]
    },
    {
        "id": "493d362f.229aa8",
        "type": "say",
        "z": "29928cb0.ddef64",
        "g": "fec5c43f.4caea8",
        "name": "Du findest es also langweilig hier?",
        "voice": ":",
        "voiceString": "Anna",
        "speed": "",
        "x": 660,
        "y": 740,
        "wires": [
            [
                "fa2af600.fbf0f8"
            ]
        ]
    },
    {
        "id": "73827c9a.ce4794",
        "type": "say",
        "z": "29928cb0.ddef64",
        "g": "fec5c43f.4caea8",
        "name": "Ich habe dich leider nicht verstanden",
        "voice": ":",
        "voiceString": "Anna",
        "speed": "",
        "x": 670,
        "y": 780,
        "wires": [
            [
                "dba86aa0.7fd678"
            ]
        ]
    },
    {
        "id": "e89ec1ba.979e5",
        "type": "switch",
        "z": "29928cb0.ddef64",
        "g": "a8081aca.df57b8",
        "name": "isEmpty",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 500,
        "wires": [
            [
                "bec2c8b0.15be08"
            ],
            [
                "3cfe07d8.4c92d8"
            ]
        ]
    },
    {
        "id": "bec2c8b0.15be08",
        "type": "say",
        "z": "29928cb0.ddef64",
        "g": "a8081aca.df57b8",
        "name": "Du hast ja gar nichts gesagt.",
        "voice": ":",
        "voiceString": "Anna",
        "speed": "",
        "x": 880,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "fa2af600.fbf0f8",
        "type": "delay",
        "z": "29928cb0.ddef64",
        "g": "fec5c43f.4caea8",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 930,
        "y": 740,
        "wires": [
            [
                "5eae2d88.de40d4"
            ]
        ]
    },
    {
        "id": "5eae2d88.de40d4",
        "type": "say",
        "z": "29928cb0.ddef64",
        "g": "7f6892dc.4d798c",
        "name": "was müsste es denn hier geben damit du ins museum gehen willst?",
        "voice": ":",
        "voiceString": "Anna",
        "speed": "",
        "x": 1340,
        "y": 740,
        "wires": [
            [
                "bed8a17f.0a7b7"
            ]
        ]
    },
    {
        "id": "d590080b.6ae9c8",
        "type": "subflow:79d9afa4.2a85",
        "z": "29928cb0.ddef64",
        "g": "bc4a0f7b.4ef6f",
        "name": "",
        "env": [
            {
                "name": "timeout",
                "value": "3",
                "type": "num"
            }
        ],
        "x": 420,
        "y": 1000,
        "wires": [
            [
                "fad51bc4.ebd5f8",
                "e150954.bc7ee68"
            ],
            []
        ]
    },
    {
        "id": "9875010.9d1e3",
        "type": "delay",
        "z": "29928cb0.ddef64",
        "g": "fec5c43f.4caea8",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 930,
        "y": 700,
        "wires": [
            [
                "aa0a7f07.b72af"
            ]
        ]
    },
    {
        "id": "aa0a7f07.b72af",
        "type": "say",
        "z": "29928cb0.ddef64",
        "g": "7f6892dc.4d798c",
        "name": "Vermisst du denn trotzdem irgendwas am Museum?",
        "voice": ":",
        "voiceString": "Anna",
        "speed": "",
        "x": 1380,
        "y": 700,
        "wires": [
            [
                "bed8a17f.0a7b7"
            ]
        ]
    },
    {
        "id": "dba86aa0.7fd678",
        "type": "delay",
        "z": "29928cb0.ddef64",
        "g": "fec5c43f.4caea8",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 930,
        "y": 780,
        "wires": [
            [
                "990da5ae.a2f568"
            ]
        ]
    },
    {
        "id": "990da5ae.a2f568",
        "type": "say",
        "z": "29928cb0.ddef64",
        "g": "7f6892dc.4d798c",
        "name": "Was hältst du denn von Museum?",
        "voice": ":",
        "voiceString": "Anna",
        "speed": "",
        "x": 1440,
        "y": 780,
        "wires": [
            [
                "bed8a17f.0a7b7"
            ]
        ]
    },
    {
        "id": "fad51bc4.ebd5f8",
        "type": "debug",
        "z": "29928cb0.ddef64",
        "g": "bc4a0f7b.4ef6f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 1100,
        "wires": []
    },
    {
        "id": "ccbe8e67.a7c8",
        "type": "say",
        "z": "29928cb0.ddef64",
        "g": "bc4a0f7b.4ef6f",
        "name": "Danke fuer deine Antwort. Ich hoffe wir sprechen uns bald wieder.",
        "voice": ":",
        "voiceString": "Anna",
        "speed": "",
        "x": 1020,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "e150954.bc7ee68",
        "type": "switch",
        "z": "29928cb0.ddef64",
        "g": "bc4a0f7b.4ef6f",
        "name": "isEmpty",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 660,
        "y": 1000,
        "wires": [
            [
                "f5e6377c.9b9fc8"
            ],
            [
                "ccbe8e67.a7c8"
            ]
        ]
    },
    {
        "id": "f5e6377c.9b9fc8",
        "type": "say",
        "z": "29928cb0.ddef64",
        "g": "bc4a0f7b.4ef6f",
        "name": "Na, vielleicht fällt dir ja spaeter noch etwas ein.",
        "voice": ":",
        "voiceString": "Anna",
        "speed": "",
        "x": 960,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "9a382a9b.e2dd78",
        "type": "comment",
        "z": "29928cb0.ddef64",
        "g": "a8081aca.df57b8",
        "name": "listening to yes/no",
        "info": "",
        "x": 430,
        "y": 420,
        "wires": []
    },
    {
        "id": "fecc3e62.d266f",
        "type": "comment",
        "z": "29928cb0.ddef64",
        "g": "98284da6.430f8",
        "name": "welcome",
        "info": "",
        "x": 400,
        "y": 140,
        "wires": []
    },
    {
        "id": "916ee524.eed348",
        "type": "comment",
        "z": "29928cb0.ddef64",
        "g": "fec5c43f.4caea8",
        "name": "response on yes/no",
        "info": "",
        "x": 430,
        "y": 640,
        "wires": []
    },
    {
        "id": "c73765d4.c77538",
        "type": "comment",
        "z": "29928cb0.ddef64",
        "g": "7f6892dc.4d798c",
        "name": "follow up question",
        "info": "",
        "x": 1190,
        "y": 640,
        "wires": []
    },
    {
        "id": "ef4c666c.3eb1a8",
        "type": "comment",
        "z": "29928cb0.ddef64",
        "g": "bc4a0f7b.4ef6f",
        "name": "listening and transcribing response",
        "info": "",
        "x": 480,
        "y": 920,
        "wires": []
    },
    {
        "id": "3240d69a.8af01a",
        "type": "comment",
        "z": "29928cb0.ddef64",
        "g": "bc4a0f7b.4ef6f",
        "name": "output",
        "info": "",
        "x": 650,
        "y": 1060,
        "wires": []
    },
    {
        "id": "bc7ab630.9dac68",
        "type": "random-output",
        "z": "29928cb0.ddef64",
        "g": "98284da6.430f8",
        "name": "",
        "outputs": 3,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "68fdf52d.1c99dc"
            ],
            [
                "b90b610c.554ac"
            ],
            [
                "c196ff51.b0952"
            ]
        ]
    },
    {
        "id": "b90b610c.554ac",
        "type": "say",
        "z": "29928cb0.ddef64",
        "g": "98284da6.430f8",
        "name": "Hallo, schön, dass du da bist",
        "voice": ":",
        "voiceString": "Anna",
        "speed": "",
        "x": 700,
        "y": 240,
        "wires": [
            [
                "81aed966.ebadd8"
            ]
        ]
    },
    {
        "id": "c196ff51.b0952",
        "type": "say",
        "z": "29928cb0.ddef64",
        "g": "98284da6.430f8",
        "name": "Herzlich willkommen bei uns im Museum",
        "voice": ":",
        "voiceString": "Anna",
        "speed": "",
        "x": 740,
        "y": 280,
        "wires": [
            [
                "81aed966.ebadd8"
            ]
        ]
    },
    {
        "id": "5cc4d2eb.79c9bc",
        "type": "change",
        "z": "79d9afa4.2a85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "recording",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 420,
        "wires": [
            [
                "72f194da.35b22c"
            ]
        ]
    },
    {
        "id": "ec9075e3.0481e8",
        "type": "switch",
        "z": "79d9afa4.2a85",
        "name": "",
        "property": "recording",
        "propertyType": "global",
        "rules": [
            {
                "t": "neq",
                "v": "true",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 170,
        "y": 220,
        "wires": [
            [
                "5cc4d2eb.79c9bc",
                "b91276d7.64be98",
                "f7d85c88.15f84"
            ]
        ]
    },
    {
        "id": "230ebf7e.956d1",
        "type": "change",
        "z": "79d9afa4.2a85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "recording",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "bed8a17f.0a7b7",
        "type": "function",
        "z": "29928cb0.ddef64",
        "g": "7f6892dc.4d798c",
        "name": "_",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1710,
        "y": 780,
        "wires": [
            [
                "d590080b.6ae9c8"
            ]
        ]
    },
    {
        "id": "4341ba2b.f38f84",
        "type": "change",
        "z": "29928cb0.ddef64",
        "g": "a8081aca.df57b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "answer",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 500,
        "wires": [
            [
                "98bc2bf7.6ca018"
            ]
        ]
    },
    {
        "id": "72f194da.35b22c",
        "type": "change",
        "z": "79d9afa4.2a85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"text\" : \"recording\", \"fill\" : \"green\", \"shape\" : \"dot\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "c28f3676.360ea8",
        "type": "change",
        "z": "79d9afa4.2a85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "f91ec4b1.a88f28",
        "type": "inject",
        "z": "79d9afa4.2a85",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "c28f3676.360ea8"
            ]
        ]
    },
    {
        "id": "b1725466.c00e58",
        "type": "change",
        "z": "79d9afa4.2a85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"text\" : \"error\", \"fill\" : \"red\", \"shape\" : \"dot\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "3cfe07d8.4c92d8",
        "type": "fuzzy-match",
        "z": "29928cb0.ddef64",
        "g": "a8081aca.df57b8",
        "name": "recognize yes/no",
        "choices": "yes:Ja * vermisse es\nyes:Ja\nyes:aufjedenfall\nyes:Manchmal schon\nyes:schon\nyes:ja sehr\nno:nein\nno:* vermisse es nicht\nno:* langweilig\nno:nee\nno:nein überhaupt nicht",
        "scorer": "WRatio",
        "limit": "0",
        "cutoff": "50",
        "x": 850,
        "y": 500,
        "wires": [
            [
                "4341ba2b.f38f84"
            ],
            []
        ]
    },
    {
        "id": "f7d85c88.15f84",
        "type": "switch",
        "z": "79d9afa4.2a85",
        "name": "",
        "property": "play_beep",
        "propertyType": "env",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 80,
        "wires": [
            [
                "d2c2ccf7.555df"
            ],
            []
        ]
    },
    {
        "id": "d2c2ccf7.555df",
        "type": "play-soundfile",
        "z": "79d9afa4.2a85",
        "name": "",
        "directory": "c531aa1.9af8558",
        "file": "beep.wav",
        "allow_multiple": false,
        "x": 1020,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "6a5903c5.7f73dc",
        "type": "inject",
        "z": "6dbde5f0.a7aefc",
        "name": "start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "bde09bf0.190058"
            ]
        ]
    },
    {
        "id": "bde09bf0.190058",
        "type": "play-soundfile",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "directory": "f0c6baff.ba8948",
        "file": "01 Hallo hier ist Malte.aif",
        "allow_multiple": false,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "c3176fa.d7e149"
            ]
        ]
    },
    {
        "id": "c3176fa.d7e149",
        "type": "delay",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 590,
        "y": 180,
        "wires": [
            [
                "40cee1ee.750eb"
            ]
        ]
    },
    {
        "id": "40cee1ee.750eb",
        "type": "play-soundfile",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "directory": "f0c6baff.ba8948",
        "file": "02 Datenschutz.aif",
        "allow_multiple": false,
        "x": 930,
        "y": 180,
        "wires": [
            [
                "dbdfc6f7.cb5aa8"
            ]
        ]
    },
    {
        "id": "dbdfc6f7.cb5aa8",
        "type": "subflow:79d9afa4.2a85",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "env": [],
        "x": 1120,
        "y": 180,
        "wires": [
            [
                "5c433879.7dae18"
            ],
            []
        ]
    },
    {
        "id": "5c433879.7dae18",
        "type": "fuzzy-match",
        "z": "6dbde5f0.a7aefc",
        "name": "recognize yes/no",
        "inputOptions": "text",
        "choices": "yes:Ja\nyes:aufjedenfall\nyes:klar\nyes:gerne\nyes:einverstanden\nyes:Ok\nyes:Okay\nyes:In ordnung\nyes:Ja, wieso nicht\nno:nein\nno:aufkeinenfall\nno:möchte ich nicht\nno:will ich nicht",
        "scorer": "WRatio",
        "limit": "0",
        "cutoff": "30",
        "x": 1330,
        "y": 180,
        "wires": [
            [
                "21a0c6ad.699c1a"
            ],
            []
        ]
    },
    {
        "id": "5d1a1c98.ef9ac4",
        "type": "comment",
        "z": "6dbde5f0.a7aefc",
        "name": "Begrüssung",
        "info": "",
        "x": 350,
        "y": 140,
        "wires": []
    },
    {
        "id": "c909f3d6.06896",
        "type": "comment",
        "z": "6dbde5f0.a7aefc",
        "name": "Datenschutz Frage",
        "info": "",
        "x": 930,
        "y": 140,
        "wires": []
    },
    {
        "id": "7308422d.bd651c",
        "type": "switch",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "property": "payload.key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "yes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "no",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1670,
        "y": 180,
        "wires": [
            [
                "8616270a.4ccc08"
            ],
            [
                "5cffede6.b0c6e4"
            ]
        ]
    },
    {
        "id": "8616270a.4ccc08",
        "type": "play-soundfile",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "directory": "f0c6baff.ba8948",
        "file": "04 frage1 ja.aif",
        "allow_multiple": false,
        "x": 360,
        "y": 400,
        "wires": [
            [
                "ee392e00.0a73b"
            ]
        ]
    },
    {
        "id": "b900f6ab.2c4bd8",
        "type": "comment",
        "z": "6dbde5f0.a7aefc",
        "name": "Datenschutz Ja / Wohnst du gerade in der Gegend?",
        "info": "",
        "x": 470,
        "y": 360,
        "wires": []
    },
    {
        "id": "ee392e00.0a73b",
        "type": "subflow:79d9afa4.2a85",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "env": [],
        "x": 560,
        "y": 400,
        "wires": [
            [
                "abf67973.d23ee8"
            ],
            []
        ]
    },
    {
        "id": "abf67973.d23ee8",
        "type": "fuzzy-match",
        "z": "6dbde5f0.a7aefc",
        "name": "recognize yes/no",
        "inputOptions": "text",
        "choices": "yes:Ja\nyes:ich wohne hier\nyes:klar\nno:nein\nno:ich wohne woanders\nno:ich wohne nicht hier",
        "scorer": "WRatio",
        "limit": "0",
        "cutoff": "30",
        "x": 770,
        "y": 400,
        "wires": [
            [
                "f0d50b5a.9c2018"
            ],
            []
        ]
    },
    {
        "id": "3a23dd73.e71b62",
        "type": "switch",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "property": "payload.key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "yes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "no",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1110,
        "y": 400,
        "wires": [
            [
                "62efa8f0.4ba318"
            ],
            [
                "101c0a98.fad895"
            ]
        ]
    },
    {
        "id": "5cffede6.b0c6e4",
        "type": "play-soundfile",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "directory": "f0c6baff.ba8948",
        "file": "11 Datenschutz Nein.aif",
        "allow_multiple": false,
        "x": 1990,
        "y": 760,
        "wires": [
            [
                "c707228e.5347a"
            ]
        ]
    },
    {
        "id": "21a0c6ad.699c1a",
        "type": "delay",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1530,
        "y": 180,
        "wires": [
            [
                "7308422d.bd651c"
            ]
        ]
    },
    {
        "id": "222ca8e0.53e718",
        "type": "comment",
        "z": "6dbde5f0.a7aefc",
        "name": "Datenschutz Nein",
        "info": "",
        "x": 1970,
        "y": 720,
        "wires": []
    },
    {
        "id": "f0d50b5a.9c2018",
        "type": "delay",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 970,
        "y": 400,
        "wires": [
            [
                "3a23dd73.e71b62"
            ]
        ]
    },
    {
        "id": "62efa8f0.4ba318",
        "type": "play-soundfile",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "directory": "f0c6baff.ba8948",
        "file": "03 Startfrage.aif",
        "allow_multiple": false,
        "x": 360,
        "y": 540,
        "wires": [
            [
                "60ab38d3.abd0b8"
            ]
        ]
    },
    {
        "id": "6320d27f.9dbe9c",
        "type": "comment",
        "z": "6dbde5f0.a7aefc",
        "name": "Ja, wohne in der Gegend",
        "info": "",
        "x": 390,
        "y": 500,
        "wires": []
    },
    {
        "id": "60ab38d3.abd0b8",
        "type": "subflow:79d9afa4.2a85",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "env": [
            {
                "name": "timeout",
                "value": "5",
                "type": "num"
            }
        ],
        "x": 700,
        "y": 540,
        "wires": [
            [
                "47ba9f5.526af6"
            ],
            []
        ]
    },
    {
        "id": "47ba9f5.526af6",
        "type": "change",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "answer1",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 540,
        "wires": [
            [
                "8db65212.3e108"
            ]
        ]
    },
    {
        "id": "292f2185.f1b74e",
        "type": "play-soundfile",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "directory": "f0c6baff.ba8948",
        "file": "06 Frage 2.aif",
        "allow_multiple": false,
        "x": 360,
        "y": 780,
        "wires": [
            [
                "45f4de06.c01c9"
            ]
        ]
    },
    {
        "id": "10c96d8e.e324f2",
        "type": "comment",
        "z": "6dbde5f0.a7aefc",
        "name": "Besonderes Erlebnis",
        "info": "",
        "x": 370,
        "y": 740,
        "wires": []
    },
    {
        "id": "8db65212.3e108",
        "type": "delay",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1090,
        "y": 540,
        "wires": [
            [
                "292f2185.f1b74e"
            ]
        ]
    },
    {
        "id": "45f4de06.c01c9",
        "type": "subflow:79d9afa4.2a85",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "env": [
            {
                "name": "timeout",
                "value": "5",
                "type": "num"
            }
        ],
        "x": 560,
        "y": 780,
        "wires": [
            [
                "ffd72280.9a46e"
            ],
            []
        ]
    },
    {
        "id": "ffd72280.9a46e",
        "type": "change",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "answer2",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 780,
        "wires": [
            [
                "c1a9dff5.bc7ff"
            ]
        ]
    },
    {
        "id": "c1a9dff5.bc7ff",
        "type": "delay",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 950,
        "y": 780,
        "wires": [
            [
                "f4c48425.7204d8"
            ]
        ]
    },
    {
        "id": "a0a37c76.5918d",
        "type": "comment",
        "z": "6dbde5f0.a7aefc",
        "name": "Danke",
        "info": "",
        "x": 330,
        "y": 880,
        "wires": []
    },
    {
        "id": "f4c48425.7204d8",
        "type": "play-soundfile",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "directory": "f0c6baff.ba8948",
        "file": "08 Danke für die Geschichte.aif",
        "allow_multiple": false,
        "x": 410,
        "y": 920,
        "wires": [
            [
                "391f8924.ead636"
            ]
        ]
    },
    {
        "id": "391f8924.ead636",
        "type": "delay",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 630,
        "y": 920,
        "wires": [
            [
                "be65d672.b1b588"
            ]
        ]
    },
    {
        "id": "be65d672.b1b588",
        "type": "play-soundfile",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "directory": "f0c6baff.ba8948",
        "file": "09 Andere Kiezgeschichte.aif",
        "allow_multiple": false,
        "x": 1980,
        "y": 920,
        "wires": [
            [
                "c707228e.5347a"
            ]
        ]
    },
    {
        "id": "c707228e.5347a",
        "type": "subflow:79d9afa4.2a85",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "x": 2260,
        "y": 840,
        "wires": [
            [
                "a3da1af3.c43ae8"
            ],
            []
        ]
    },
    {
        "id": "a3da1af3.c43ae8",
        "type": "fuzzy-match",
        "z": "6dbde5f0.a7aefc",
        "name": "recognize yes/no",
        "inputOptions": "text",
        "choices": "yes:Ja\nyes:gerne\nyes:ja bitte\nyes:gerne\nyes:klar\nno:nein\nno:heute nicht\nno:will ich nicht\nno:moechte ich nicht",
        "scorer": "WRatio",
        "limit": "0",
        "cutoff": "30",
        "x": 2470,
        "y": 840,
        "wires": [
            [
                "91d4f892.f42ff8"
            ],
            []
        ]
    },
    {
        "id": "91d4f892.f42ff8",
        "type": "switch",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "property": "payload.key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "yes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "no",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2650,
        "y": 840,
        "wires": [
            [
                "2c87df3.928852"
            ],
            [
                "2c87df3.928852"
            ]
        ]
    },
    {
        "id": "2c87df3.928852",
        "type": "play-soundfile",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "directory": "f0c6baff.ba8948",
        "file": "10 danke Tschüss.aif",
        "allow_multiple": false,
        "x": 2280,
        "y": 1000,
        "wires": [
            [
                "bf6ef783.de1118"
            ]
        ]
    },
    {
        "id": "3344258.8a554da",
        "type": "comment",
        "z": "6dbde5f0.a7aefc",
        "name": "Moechtest du eine Geschichte hoeren?",
        "info": "",
        "x": 2330,
        "y": 800,
        "wires": []
    },
    {
        "id": "973286e4.4b50f8",
        "type": "comment",
        "z": "6dbde5f0.a7aefc",
        "name": "verabschiedung",
        "info": "",
        "x": 2260,
        "y": 960,
        "wires": []
    },
    {
        "id": "bf6ef783.de1118",
        "type": "debug",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2570,
        "y": 1000,
        "wires": []
    },
    {
        "id": "101c0a98.fad895",
        "type": "play-soundfile",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "directory": "f0c6baff.ba8948",
        "file": "05 frage 1 nein.aif",
        "allow_multiple": false,
        "x": 370,
        "y": 640,
        "wires": [
            [
                "60ab38d3.abd0b8"
            ]
        ]
    },
    {
        "id": "cfbd84da.1d66d8",
        "type": "comment",
        "z": "6dbde5f0.a7aefc",
        "name": "Nein, wohne nicht hier",
        "info": "",
        "x": 380,
        "y": 600,
        "wires": []
    },
    {
        "id": "b9b14a75.48c2e8",
        "type": "inject",
        "z": "6dbde5f0.a7aefc",
        "name": "reset",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "2e415449.e28c5c"
            ]
        ]
    },
    {
        "id": "2e415449.e28c5c",
        "type": "change",
        "z": "6dbde5f0.a7aefc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "recording",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 60,
        "wires": [
            []
        ]
    }
]